@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Utils/placeholders";
@import "./Base/fonts.scss";
@import "./Base/sizing-spacing";
@import "./Layout/header-footer";
@import "./Pages/index-sizing-spacing";
@import "./Pages/index.scss";
@import "./Components/index-hearts";
@import "./Components/product-animation";
@import "./Components/menu-animation";
@import "./Components/_loader.scss";
@import "./Components/index-map-anchors";
@import "./Components/menu-underlines";
@import "./Components/index-list-number";

a {
  @include no-deco;
  color: black;
}
.menu {
  background-color: $color-smoke;
  &__img {
    object-fit: cover;
  }
  &__title {
    border-radius: $radius-medium $radius-medium 0 0;
    z-index: 1;
    background-color: $color-smoke;
  }
  &__heading {
    position: relative;
  }
  &__btn--purple {
    @include btn;
    border-style: none;
  }
}
.product {
  @include border;
  cursor: pointer;
  background-color: white;
  position: relative;
  overflow: hidden;
  &__content {
    @include no-deco;
    text-align: left;
    transition: all $product-anim ease-out;
  }
  &__name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__ingredient {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media screen and (min-width: 1024px) {
  .product {
    width: 70vw;
  }
  .menu{
    &__heading{
      margin: 0 auto;
      width: 150px;
    }
    &__title {
      width: unset;
      padding: 0 50px 0 15vw ;
    }
  }
}