@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Components/components";
@import "./Utils/placeholders";
@import "./Base/fonts.scss";
@import "./Base/sizing-spacing";
@import "./Layout/header-footer";
@import "./Pages/index.scss";

a {
  @include no-deco;
}
.menu {
  background-color: $color-smoke;
  &__img {
    object-fit: fill;
  }
  &__title {
    border-radius: $radius-medium $radius-medium 0 0;
    z-index: 1;
    background-color: $color-smoke;
  }
  &__heading {
    position: relative;
  }
  &__btn--purple {
    @include btn;
  }
}
.product {
  @include border;
  cursor: pointer;
  background-color: white;
  position: relative;
  overflow: hidden;
  &__content {
    @include no-deco;
    text-align: left;
  }
  &__name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__ingredient{
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
