/* head rules for all pages */
.banniere {
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    &__shadow-box {
      width: 100%;
      display: flex;
    }
    &__logo {
      width: 200px;
      height: 50px;
    }
  }
.map {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  
  &__icon {
    position: absolute;
    vertical-align: middle;
    margin-left: 35vw;
  }
  &__selection {
    align-content: center;
    width: 100%;
    height: 50px;
    border-style: none;
    background-color: darken($color: $color-smoke, $amount: 5%);
    box-shadow: inset 0px 20px 2px -15px rgba(59, 68, 66, 0.19);
    padding-left: 40vw;
    appearance: none;
  }
}
/* footer rules for all pages */
.footer {
  background-color: $color-outerspace;
  width: 100%;
  &__list {
    @include no-deco;
    padding: 0;
    margin: 0 30px 30px;
  }
  &__logo {
    width: 100px;
    margin: 10px 30px;
  }
  .fa-utensils {
    margin-right: 9px; 
  }
  .fa-hands-helping {
    margin-right: 5px;
  }
}