@mixin manual-number {
    border: 1px solid $color-rebecca-purple;
    border-radius: $radius-heavy;
    background-color: $color-rebecca-purple;
    text-align: center;
}
.manual__step:before {
    content: counter(number);
    counter-increment: number;
    color: white;
    padding: 10px 8px 3px;
    margin: 40px -10px;
    font-weight: bold;
    border: 1px solid $color-rebecca-purple;
    border-radius: $radius-heavy;
    background-color: $color-rebecca-purple;
    position: absolute;
}
@mixin btn {
    color: white;
    border: 1px solid $color-medium-purple;
    border-radius: $radius-medium;
    background-color: $color-medium-purple;
    box-shadow: inset 0px -10px 39px -20px $color-rebecca-purple;
}