/* footer contact animation */
.contact {
    padding-left: 0;
    font-size: 15px;
    color: white;
    background: $color-outerspace;
    border-style: none;
    &__email {
        transform: scaleY(0);
        color: $color-medium-purple;
        font-weight: bold;
        pointer-events: none;
        text-align: center;
    }
    :hover + &__email {
        transition: all 0.1s ease;
        transform: scaleY(1);
        pointer-events: all;
    }
}

