/* manual list number*/
.manual__step:before {
  content: counter(number);
  counter-increment: number;
  color: white;
  padding: 8px 10px 3px;
  margin: 40px -10px;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid darken($color: $color-medium-purple, $amount: 20%);
  border-radius: $radius-heavy;
  background-color: darken($color: $color-medium-purple, $amount: 20%);
  position: absolute;
  
}
/* heart animation*/
.card__heart {
  width: 50px;
  display: flex;
  align-items: center;
}
.heart--full {
  opacity: 0;
  background: $color-heart;
  background-clip: content-box;
  -webkit-background-clip: text ;
  -webkit-text-fill-color: transparent;
  transition: all 300ms;
}
.card__heart:hover, .card__heart:active {
  .heart--empty {
    opacity: 0;
  }
  .heart--full{
    opacity: 1;
    transform: scale(1.1);
  }
}


