/* index */
.introduction {
  @extend %flex-col;
  text-align: center;
  width: 100%;
  &__heading {
    width: 300px;
    margin: 50px auto 30px;
  }
  &__text {
    margin: 0 auto 40px;
  }
  &__btn--purple {
    margin: 0 auto 60px;
    padding: 15px 20px;
  }
}
.manual {
  @extend %flex-col;
  justify-content: space-evenly;
  margin: 40px 0;
  &__heading {
    width: 90%;
    margin: auto;
  }
  &__list {
    @extend %flex-col;
    justify-content: space-evenly;
    margin: auto;
    padding: 0;
  }
  &__rule {
    width: 80vw;
    height: 70px;
    margin: 20px 0;
    i {
      padding: 0 20px 0 40px;
    }
  }
}
.repertory {
  &__heading {
    @extend %flex-col;
    @include heading-margin;
    text-align: center;
  }
  &__heading {
    @include heading-margin;
  }
  &__container {
    margin-bottom: 30px;
  }
}
.card {
  width: 90%;
  margin: 20px auto;
  &__img {
    width: 100%;
    height: 200px;
  }
  &__caption {
    margin: 0 $padding-small;
    @extend %flex-row;
    justify-content: space-between;
  }
  &__new--mint {
    width: 80px;
    padding: 10px;
    top: 10px;
    right: 10px;
  }
}
