/* -- color -- */
$color-mint: #98ff98;
$color-medium-purple: rgb(216, 101, 252);
$color-rebecca-purple: rgba(102, 51, 153, 1);
$color-smoke: rgba(236, 236, 236, 1);
$color-outerspace: rgba(46, 49, 49, 1);
/* -- Dimensions -- */
$padding-small: 10px;
$margin: 40px;
$radius-light: 15px;
$radius-medium: 50px;
$radius-heavy: 100%;
