/* -- color -- */
$color-mint: #a1eccd;
$color-medium-purple: rgb(216, 101, 252);
$color-rebecca-purple: rgba(102, 51, 153, 1);
$color-smoke: rgb(240, 240, 240);
$color-outerspace: rgba(46, 49, 49, 1);
/* -- Dimensions -- */
$padding-small: 10px;
$margin: 40px;
$radius-light: 15px;
$radius-medium: 30px;
$radius-heavy: 100%;
